         .card.bill {
          padding: .5rem .5rem .5rem .5rem;
           background: #007991;
          border-radius: 5px;           

         }

         .g-text-1 {
            font-size: 1.1rem;
         }
         .g-text-2 {
            font-size: 1.1rem;
         }
         .g-text-3 {
            font-size: 1.0rem;
         }
         .g-text-4 {
            font-size: 0.9rem;
         }
         .g-text-5 {
            font-size: 0.8rem;
         }
         .g-text-6 {
            font-size: 0.7rem;
         }
         .g-text-7 {
            font-size: 0.6rem;
         }
         .g-text-8 {
            font-size: 0.5rem;
         }


         .c-text-1 {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 600;
         }
         .c-text-2 {
            font-size: 1rem;
            font-weight: 600;
         }
         
         .c-text-3 {
            font-size: 1rem;
            font-style: italic;
         } 
         .c-text-5 {
            font-size: 0.6rem;
            font-style: italic;
         }
         .c-text-6 {
            font-size: 0.7rem;
            font-style: italic;
         }

         .badge-container {
    position: absolute;
    right: 1rem;
}

.badge-pill.count{
  font-size: 100%;
  background-color: #1ABC9C;
  color: #fff;
    font-weight: normal;
}

.badge-pill.circle-check{
  padding: .5em .4em;
  font-size: 100%;
  background-color: #1ABC9C;
  color: #fff;
    font-weight: normal;
}

.badge-pill.circle-block{
  padding: .5em .4em;
  font-size: 100%;
  background-color: #FF437F;
  color: #fff;
    font-weight: normal;
}

  .card-01 {
           background: #007991;
          border-radius: 5px;           
}
span.form-control {
    border-bottom: none !important;
}