  
.control-label {
    font-size: .7rem !important;
    color: #000000;
    margin-bottom: 0;
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid #d1d3e2;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    border-radius: 0 !important;
    font-size: .85rem;
    color: #000000;
}

select:hover {
  box-shadow: none !important;
  border-color: #488ab8;
}
.form-control:hover {
  box-shadow: none !important;
  border-color: #488ab8;
}
input:hover {
  box-shadow: none !important;
  border-color: #488ab8;
}
select:focus {
  box-shadow: none !important;
  border-color: #488ab8;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #488ab8;
}
input:focus {
  box-shadow: none !important;
  border-color: #488ab8;
}

label.error {
    font-size: .70rem;
    font-style: italic;
    color: #488ab8;
    display: inline-block;
    margin-bottom: 0.5rem;
    min-height: 1rem;
}

.nice-select{
    float: none;
}
.nice-select ul{
    width: 100%;
}

.form-check-label {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.form-check-input {
    position: relative;
    margin: auto;
    height: 1.8rem !important;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input.radio {
    border-radius: 50%;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #d1d3e2;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    outline: none;
    z-index: 1000;
    margin: auto;
}

.option-input:hover {
  background: #488ab8;
}
.option-input:checked {
  background: #488ab8;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '\25CF';
  display: inline-block;
  font-size: 27px;
  text-align: center;
  padding-left: 10px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #488ab8;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.gj-datepicker .input-group-append .btn {
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid #488ab8;
}
.gj-datepicker .input-group-append .btn:hover {
   background-color: transparent;
   color:#488ab8;
   border-radius: 0;
    border-bottom: 1px solid #488ab8;
}
.gj-datepicker .input-group-append .btn:active {
   background-color: transparent;
   color:#488ab8;
   border-radius: 0;
    border-bottom: 1px solid #488ab8;
}
.gj-datepicker .input-group-append .btn:active {
   background-color: transparent;
   color:#488ab8;
   border-radius: 0;
    border-bottom: 1px solid #488ab8;
}


.form-control:hover + .input-group-append .btn {
     background-color: transparent;
   color:#488ab8;
   border-radius: 0;
    border-bottom: 1px solid #488ab8;
}
.form-control:focus + .input-group-append .btn {
     background-color: transparent;
   color:#488ab8;
   border-radius: 0;
    border-bottom: 1px solid #488ab8;
}
.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #d1d3e2;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #488ab8;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important; 
    border-radius: 0;
    border-bottom: 1px solid #488ab8;
}

.btn-link {
      background: transparent;
      border-color: transparent;
      color: #3c3d38 !important; 
      box-shadow: none !important;
      border-bottom: solid #3c3d38 1px;
      font-size: .85rem;
      margin-left: .5rem;
}
.btn-link:hover {
      font-weight: 500;
      background: transparent;
      border-color: transparent;
      color: #488ab8 !important; 
      box-shadow: none !important;
      border-bottom: 0;
      margin-left: .5rem;
}

.created_by {
    color: #64664e;
    font-size: .65rem;
    font-style: italic;
}

.notice {
    font-style: italic;
    font-size: .75rem;
    color: #fff;
    padding: .75rem;
    margin-bottom: 1rem;
}
.notice-success {
    background: #3c3d38;
}
.notice-danger {
    background: #488ab8;
}

.notice-info {
    background: #658e9c;
}


.nice-select.scroll .list{
height: 8rem; 
overflow-y: scroll;
}

.btn-param {
  margin-bottom: auto;
  margin-top: auto;
}
  .form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}


.btn-checkbox {
    background: transparent;
    border-radius: 0;
    border: 1px solid #d1d3e2;
    cursor: pointer;
    padding: .45rem;
}

.btn-checkbox:hover {
    box-shadow: none !important;
    border-color: #488ab8;
}

.nice-select.open .list {
    height: 200px; 
    overflow:auto;
 }   