.button-container {
    width: 100%;
    padding: 0;
}
.img-profile {
    display: block;
    width: 100%;
}
.button-container a {
    position: absolute;
    top: .3em;
    right: .3em;
    color: white;
    text-transform: uppercase;
    padding: .5em .75em .3em .75em;
}
.btn-file {
    position: absolute;
    text-align: left;
    overflow: hidden;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding: 0;
}