.modal-content {
  border-radius: 0 !important;
}
.modal-header {
  border-bottom: 0 !important;
}
.modal-footer {
  border-top: 0 !important;
}

.modal-footer .btn.btn-outline-success{
    background: transparent;
    border-color: transparent;
    color: #3c3d38 !important; 
    box-shadow: none !important;
    border-bottom: solid #3c3d38 1px;
    font-size: .85rem;
    margin-left: .5rem;
    padding: 0;
    border-radius: 0;
}

.modal-footer .btn.btn-outline-danger{
    background: transparent;
    border-color: transparent;
    color: #3c3d38 !important; 
    box-shadow: none !important;
    border-bottom: solid #3c3d38 1px;
    font-size: .85rem;
    margin-left: .5rem;
    padding: 0;
    border-radius: 0;
}

.modal-footer .btn.btn-outline-success:hover{
    font-weight: 500;
    background: transparent;
    border-color: transparent;
    color: #488ab8 !important; 
    box-shadow: none !important;
    border-bottom: 0;
    margin-left: .5rem;
    padding: 0;
    border-radius: 0;
}

.modal-footer .btn.btn-outline-danger:hover{
    font-weight: 500;
    background: transparent;
    border-color: transparent;
    color: #488ab8 !important; 
    box-shadow: none !important;
    border-bottom: 0;
    margin-left: .5rem;
    padding: 0;
    border-radius: 0;
}