#page-error{
background: #333333;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}    

#page-error .d-flex{
   height: 100%;
}   

#page-error .d-flex{
   height: 100%;
} 

#page-error .body .error{
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #a3a3a3;
  margin-top: 0px;
  margin-bottom: 25px;
}
#page-error .body .message{
  font-family: 'Lato', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0;
  display: block;
}