.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 270px;
  width: 270px;

  border: 2px solid;
  border-radius: 50%;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 48px;
}


.controls {
  display: flex;
  justify-content: space-between;

  width: 187px;
}

.stopwatch .btn-guaramo{
  font-size: 2rem;
    padding: .5em .5em .2em .6em;
}

